html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* General Styling */

#container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

#header h1 {
    font-family: 'Candal', sans-serif;
    font-size: 3em;
}

#header img {
    width: 50%;
    margin: auto;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 1);
}

#header ul li {
    list-style: none;
}

.heading {
    background-color: #006699;
    font-family: 'Candal', sans-serif;
    padding: 0.25em;
    line-height: 1em;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.5);
}

.title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
}

/* End General Styling */

/* Begin Media Queries */

@media (min-width: 200px) {
    #header {
        width: 100%;
        text-align: center;
        padding: 1em;
    }

    #header li {
        display: inline;
        padding: 0.5em;
    }

    #header img {
        width: 100%;
    }

    #content article {
        background-color: #f2f2f2;
        box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.5);

    }
}

@media (min-width: 600px) {
    #header img {
        width: calc(100% / 2 - 1em);
    }

    #header article {
        width: calc(100% / 2 - 1em);
        margin: auto;
        float: right;
    }

    #content {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    #header img {
        width: 25%;
    }

    #leftcolumn {
        width: calc(100% / 2 - 1em);
        float: left;
    }

    #rightcolumn {
        width: calc(100% / 2 - 1em);
        float: right;
    }

}

/* End Media Queries */
